/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.hybridly
_ide_helper*
.phpstorm.meta.php

*.key
*.pem
*.cert

/.docker_volumes
/chrome_overrides

dump.rdb

doppler.yaml
.DS_Store

docs/.vitepress/cache
docs/.vitepress/dist
